.text {
    display: flex;
    align-items: center;
    font-size: large;
    gap: 6px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.info-container {
    display: flex;
    gap: 25px;
    padding: 5px 10px;
    box-sizing: border-box;
}

#contact a:hover{
  transform: translate(0, -10%);
  transform: scale(1.1);
  color: #f6f7eb;
}
