.header {
    position: sticky;
    left: 0px;
    top: 0px;
    width: 100vw;
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #ff5353;
    background-color: rgb(80, 80, 80);
    z-index: 1000;
}

.header-pages {
    display: flex;
    gap: 50px;
}

.page-title {
    font-weight: bold;
}

.title {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    color: #f6f7eb;
    transition: all 0.2s;
}

.title:hover {
    color: #ff5353;
    font-style: italic;
}

header nav .active .title {
    color: #ff5353;
    font-style: italic;
}