#projects {
    scroll-margin-top: 80px;
}

.project-img-container img {
    width: 40vw;
    max-width: 500px;
}

.project-img-container {
    box-shadow: 5px 5px 0px #496ddb;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}

.project-card-container {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    min-width: 836px;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px 0px 60px 0px;
    justify-content: center;
    transition: all 0.2s;
}

.project-card-container:hover {
    translate: 0px -8px;
    background-color: hsl(0, 0%, 19%);
    box-shadow: 5px 5px 0px #ff5353;
}

.project-title {
    display: flex;
    align-items: baseline;
    gap: 20px;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    background-color: #505050;
    box-shadow: 5px 5px 0px #496ddb;
}

.project-header {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    gap: 20px;
}

.project-header * {
    height: fit-content;
    margin: 0px;
}

.project-subheader {
    display: flex;
    align-items: baseline;
    gap: 50px;
    height: fit-content;
    padding: 5px 10px;
}

.project-subheader * {
    margin: 0px;
}

.project-lang {
    display: flex;
    gap: 20px;  
    width: 100%;
    flex-wrap: wrap;  
}

.project-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    box-sizing: border-box;
}

.project-info-container span {
    display: inline-block;
    padding: 5px 10px;
    margin-top: -15px;
}

.icon-container {
    font-size: xx-large;
    width: fit-content;
    height: fit-content;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
}

.lang-box {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    font-weight: bold;
    transition: all 0.1s;
}

.lang-box:hover {
    translate: 0px -2px;
    transform: scale(1.01);
    color: #496ddb;
}

.lang-box p {
    margin: 0px;
}

.project-header a {
    color: #f6f7eb;
    font-weight: bold;
    display: flex;
    gap: 2px;
    padding: 2px 3px;
    /*box-shadow: 0px 2px 0px #f6f7eb;*/
    transition: all 0.2s;
    height: 30px;
}

/*.project-header a:hover {
    background-color: #ff5353;
    box-shadow: 0px 0px 0px;
}*/

.project-header a .header-icon {
    font-size: x-large;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.bg-down {
    box-sizing: border-box;
    background-color: #242424;
    height: 27px;
    transition: height 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-up {
    box-sizing: border-box;
    padding-bottom: 0px;
    height: 30px;
    padding-bottom: 2px;
    background-color: #ff5353;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-down:hover {
    height: 0px;   
}

