#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: scroll 0.5s;
}

.page-body {
  width: 95vw;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container {
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 40px;
  width: 95vw;
  max-width: 1280px;
}

.element-title {
  width: fit-content;
  padding: 5px 10px;
  background-color: #505050;
  box-shadow: 5px 5px 0px #496ddb;
}

.title-container {
    width: 100%;
    border: 1px dotted red;
    display: flex;
}

.section-title {
  font-size: xx-large;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #505050;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 0px #496ddb;
  margin-top: 0px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer {
  background-color: #505050;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding: 0px 0px 60px 0px;
  box-sizing: border-box;
}


